pipeline/pl_incremental.json
{
	"name": "pl_incremental",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT last_loaded_date FROM config\nWHERE table_name='employee' AND data_source='SOURCE'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "emptgt_stg",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Lookup_src",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT MAX(last_updated_date) AS max_last_updated_date FROM employee\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "empsrc",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_src",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM employee\nWHERE last_updated_date>='@{activity('Lookup1').output.firstRow.last_loaded_date}' AND\nlast_updated_date<='@{activity('Lookup_src').output.firstRow.max_last_updated_date}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "empsrc",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "emptgt_stg",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_updateConfig]",
					"storedProcedureParameters": {
						"data_source": {
							"value": "SOURCE",
							"type": "String"
						},
						"last_loaded_date": {
							"value": {
								"value": "@activity('Lookup_src').output.firstRow.max_last_updated_date",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"table_name": {
							"value": "employee",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SqlServerstg",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-03-30T16:43:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}